.outercontainer{
display: flex;
flex-direction: column;
align-items: center;
width: 65%;
border: 1px solid #e0e0e2;
border-radius: 8px;
direction: rtl;
  float: right;
  margin-right: 50px;
  
}
.container{
  
}
.img{

}
.images{
    width: 70%;
    margin-right: 10px;

}
.text1{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: 50px;
    color:#23254e ;
}
.text2{
    font-size: 13px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #62666d;
}